RewriteEngine On
Options +FollowSymlinks -MultiViews -Indexes
RewriteBase /Green_Sorcerer/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
